#add-contact-content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    
}
#add-contact-background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
    filter: opacity(50%);
    z-index: 9;
}
.hide-add-contact {
    transform: translateX(100vw);
    transition: all 250ms ease-in-out;
}
.show-add-contact {
    transform: translateX(0vw)
}
#contact-panel {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 75%;
    z-index: 15;
    isolation: isolate; 

}
#add-contact-side-panel {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #2A3647;
    width: 50%;
    border-radius: 20px 0 0 20px;
}
#add-contact-logo {
    margin-left: 10%;
    margin-right: 10%;
}
#add-contact-headline {
    color: white;
    font-size: 48px;
    font-weight: 600;
    margin-left: 10%;
    margin-right: 10%;
}
#add-contact-second {
    color: white;
    font-size: 32px;
    font-weight: 200;
    margin-left: 10%;
    margin-right: 10%;
}
#vector-line {
    margin-left: 10%;
    width: 5vw;
}
#add-contact-interactions-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0 20px 20px 0;
    background-color: white;
}
#add-contact-btn-close-container {
    display: flex;
    justify-content: flex-end;
}
#add-contact-btn-close {
    width: 40px;
            height: 40px;
            margin: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f5f5f5; /* Light gray background */
            border-radius: 50%; /* Make it circular */
            border: 1px solid #ccc; /* Optional border */
            cursor: pointer;
            transition: background-color 0.3s;
}
#add-contact-btn-close:hover {
    background-color: #e0e0e0; /* Slightly darker background on hover */
}
#add-contact-btn-close svg {
    width: 20px;
            height: 20px;
}
#add-contact-interactions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#add-contact-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
#add-contact-icon {
    height: 150px;
}
#input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 75%;
}
.add-contact-input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-color: #d1d1d1;
    color: #d1d1d1;
}
#add-contact-first-name {
    border-radius: 5px;
    border-color: #d1d1d1;
    color: #d1d1d1;
}
#add-contact-last-name {
    border-radius: 5px;
}
#add-contact-email {
    border-radius: 5px;
}
.add-contact-input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    height: 20px;
    width: 20px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #888;
    pointer-events: none; /* Prevent the icon from blocking input clicks */
}
.input-wrapper {
    position: relative;
    width: 50%;
}
#add-contact-btn-wrapper {
    display: flex;
    justify-content: space-around;
}
#add-contact-btn-container {
    display: flex;
    justify-content: center;
    height: 20vh;
    width: 70%;
}
#add-contact-cancel {
    height: 5vh;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: white;
    border-radius: 10px;
}
#add-contact-cancel:hover {
    color:#0B8CE9;
    border-color: #0B8CE9;
    cursor: pointer;
}
#add-contact-create {
    height: 5vh;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 10px;
    background-color: #2B3647;
    color: white;
}
#add-contact-create:hover {
    background-color: #0B8CE9;
    cursor: pointer;
}
#add-contact-btn-placeholder {
    width: 30%;
    height: 20vh;
}
#test-btn {
    height: 2vh;
}