#add-contact-content {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
#add-contact-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: black;
  filter: opacity(50%);
  z-index: 9;
  transition: all 1000ms ease-in-out;
}
.hide-add-contact {
  transform: translateX(100vw);
  transition: all 250ms ease-in-out;
}
.show-add-contact {
  transform: translateX(0vw);
}
#contact-panel {
  max-width: 400px;
  max-height: 700px;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 70vw;
  min-width: 40%;
  height: 100%;
  z-index: 15;
  isolation: isolate;
}

#add-contact-side-panel {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  background-color: #2a3647;
  width: 50%;
  border-radius: 20px 0 0 20px;
}
#add-contact-logo {
  margin-left: 20%;
  margin-right: 10%;
  margin-bottom: 20px;
}
#add-contact-headline {
  color: white;
  font-size: 40px;
  font-weight: 600;
  margin-left: 20%;
  margin-bottom: 20px;
}
#add-contact-second {
  color: white;
  font-size: 32px;
  font-weight: 200;
  
  text-align: center;
}
#second-vector-container {
  margin-left: 20%;
  margin-bottom: 15%;
}
#vector-line-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
#vector-line {
  width: 5%;
  margin-left: 0 !important;
}

#add-contact-interactions-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0 20px 20px 0;
  background-color: white;
}
#add-contact-btn-close-container {
  display: flex;
  justify-content: flex-end;
}
#add-contact-btn-close {
  width: 40px;
  height: 40px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
#add-contact-btn-close:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s;
}
#add-contact-btn-close svg {
  width: 20px;
  height: 20px;
}
#add-contact-btn-close-mobile {
  width: 40px;
  height: 40px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  filter: invert();
  transition: background-color 0.3s;
}
#add-contact-btn-close-mobile:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s;
}
#add-contact-btn-close-mobile svg {
  width: 20px;
  height: 20px;
}
#add-contact-interactions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#add-contact-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
#add-contact-icon-container-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}
#add-contact-icon-mobile {
  height: 75px;
  position: absolute;
  bottom: -37.5px;
  z-index: 1;
}
#add-contact-icon {
  height: 150px;
}
#input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  height: 100%;
  margin-top: 0 !important;
}
.add-contact-input {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 15px;
  color: black;
}
#add-contact-first-name {
  border-color: #d1d1d1;
  color: black;
}
#add-contact-last-name {
  border-color: #d1d1d1;
  color: black;
}
#add-contact-email {
  border-color: #d1d1d1;
  color: black;
}
.add-contact-input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  height: 20px;
  width: 20px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #a8a8a8;
  pointer-events: none;
}
.input-wrapper {
  position: relative;
  width: 75%;
}
#add-contact-btn-wrapper {
  display: flex;
  justify-content: space-around;
}
#add-contact-btn-container {
  display: flex;
  justify-content: flex-start;
  height: 10vh;
  width: 70%;
  padding-left: 8%;
}
#add-contact-cancel {
  font-weight: 700;
  height: 4vh;
  margin-left: 1vw;
  margin-right: 1vw;
  background-color: white;
  border: 1px solid #2a3647;
  width: 113px;
  height: 55px;
  padding: 15px 24px 15px 24px;
  border-radius: 8px;
}
#add-contact-cancel:hover {
  border: 2px solid #0b8ce9;
  color: #0b8ce9;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: color 0.3s;
}
#add-contact-create {
  font-weight: 700;
  white-space: nowrap;
  height: 3vh;
  background-color: #2a3647;
  color: white;

  height: 11vw;
  max-height: 56px;
  padding: 15px 24px 15px 24px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  gap: 4px;
}
#add-contact-create:hover {
  background-color: #0b8ce9;
  cursor: pointer;
}
#add-contact-btn-placeholder {
  width: 30%;
  height: 10vh;
}
#test-btn {
  height: 2vh;
}
#add-contact-message {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#add-contact-error-message-container {
  height: 20%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background-color: #860002;
}
#add-contact-error-message {
  color: white;
  font-size: 16px;
}

#success-message-container {
  position: fixed;
  right: 50%;
  transform: translateX(50%);
  bottom: 20%;
  background-color: #2a3647;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  box-shadow: 0px 0px 4px 0px #0000001A;
  transition: transform 0.5s ease-in-out, right 0.5s ease-in-out;
  z-index: 1000;
  opacity: 0;
  width: 326px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#success-message-container.show {
  transform: translateX(50%) translateY(0); 
  opacity: 1; 
}


#add-contact-succes-message-container {
  position: fixed;
  height: 20%;
  width: 30%;
  bottom: -250px;
  left: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background-color: #2a3647;
}
#add-contact-succes-message {
  color: white;
  font-size: 16px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none;
}

.add-contact-input:invalid + .error-message {
  display: block;
}
@media (min-width: 1920px) {
  #add-contact-btn-placeholder {
    width: 30%;
    height: 5vh;
  }
  #add-contact-btn-container {
    height: 0;
  }
}

@media (min-width: 1050px) {
  #add-contact-btn-close-mobile {
    display: none !important;
  }
  #headline-close-container {
    display: block !important;
  }
  #add-contact-icon-container-mobile {
    display: none;
  }
  #add-contact-icon-mobile {
    display: none;
  }
/*   #add-contact-btn-placeholder {
    width: 30%;
    height: 5vh;
  }
  #add-contact-btn-container {
    height: 0;
  } */
}
@media (max-width: 1050px) {
  #vector-line {
    width: 15vw !important;
  }
  #add-contact-icon-container {
    display: none;
  }
  #add-contact-icon {
    display: none;
  }
  #add-contact-cancel {
    display: none;
  }
  #add-contact-btn-container {
    padding-left: 0;
    width: 100%;
    justify-content: center;
    margin-top: 10%;
  }
  #add-contact-btn-placeholder {
    display: none;
  }
  #contact-panel {
    flex-direction: column;
  }
  #add-contact-side-panel {
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0 0;
  }
  .add-contact-input {
    width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 5px;
  }
  #add-contact-interactions-container {
    border-radius: 0 0 20px 20px;
  }
  #add-contact-logo {
    display: none;
  }
  #add-contact-btn-close-mobile {
    display: block;
  }
  #add-contact-btn-close {
    display: none;
  }
  #second-vector-container {
    width: 100%;
    margin-left: 20%;
  }
}
@media (max-width: 860px) {
  #add-contact-second {
    font-size: 22px;
  }
}
@media (max-width: 670px) {
  #add-contact-icon {
    height: 100px;
  }
  #contact-panel {
    height: 75% !important;
    width: 90vw !important;
  }
  #add-contact-side-panel {
    height: 65% !important;
  }
}

@media (max-width: 576px) {
  #add-contact-create {
    padding: 10px;
  }
  #input-fields {
    height: 65% !important;
  }
  .add-contact-input {
    width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 5px;
  }
  #add-contact-headline {
    font-size: 34px;
  }
 

  #add-contact-icon {
    height: 75px;
    position: absolute;
    margin-bottom: 15%;
  }
  #add-contact-interactions {
    flex-direction: column;
  }

  #add-contact-headline {
    font-size: 34px;
  }

  #add-contact-second {
    font-size: 16px;
  }

  

}

@media (max-width: 414px) {
  #add-contact-second {
    font-size: 15px;
  
  }

  #add-contact-headline {
    font-size: 26px;
   
  }
}

@media (max-width: 345px) {
  #add-contact-btn-close svg {
    margin-left: 15px;
  }
}
