html,
body {
  margin: 0;
  font-family: "Inter", Sans-Serif;
  overflow-y: auto;
}
.outline {
  outline: 1px solid var(--darkLightBlue);
}

.addtask-fullscreen-content {
  padding-top: 102px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f7f8;
}
#add-task-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  height: 90vh;
  max-width: 1920px;
}
#headline-container {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  padding: 25px;
  margin: 25px;
}
#add-task-headline {
  font-size: 48px;
}
#addTaskHeadlineFullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 880px;
  height: 100%;
  box-sizing: border-box;
  background-color: #f6f7f8;
}

.custom-dropdown {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: auto;
  cursor: pointer;
  background-color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding: 12px 21px;
}

.dropdown-placeholder {
  color: #888;
}

.dropdown-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
}

#assigned-users-short {
  margin-top: 10px;
}

.dropdown-options .assigned-user {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.dropdown-options .assigned-user:hover {
  background-color: #f0f0f0;
}

.customCircle {
  margin-right: 10px;
}

.textInCircle {
  font-size: 15px;
  font-weight: 100;
}
#addtask-overlay-close:hover {
  background-color: #2b3647;
}
.addtask-main-content {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  scrollbar-color: gray;
  scrollbar-width: thin;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.addtask-main-content h1 {
  width: 935px;
  font-size: 58px;
  padding-bottom: 50px;
}

.addtask-form-left-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 440px;
  height: auto;
}
.addtask-form-right-bottom {
  flex: 1;
  width: 100%;
  max-width: 440px;
}

.field-text-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
#addTaskDiscriptionField {
  width: 100%;
}
#addTaskPopupDiscriptionField {
  width: 100%;
}

.input-addtask {
  cursor: pointer;
  font-size: 20px;
  width: 100%;
  border-radius: 10px;
  padding: 12px 21px;
  max-height: 48px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
}
.input-addtask:focus {
  outline: 1px solid var(--darkLightBlue);
  border: 1px solid var(--darkLightBlue);
}

label {
  display: -webkit-box;
  font-weight: 400;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 8px 0px;
}

textarea {
  cursor: pointer;
  height: 120px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 18px 16px;
  font-size: 20px;
  font-family: "Inter";
  resize: none;
  width: 100%;
  box-sizing: border-box;
}
textarea::placeholder {
  font-family: "Inter";
  color: #d1d1d1;
}
textarea:focus {
  outline: 1px solid var(--darkLightBlue);
  border: 1px solid var(--darkLightBlue);
}

input::placeholder {
  color: #d1d1d1;
}

input[type="date"] {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  color: #d1d1d1;
}

#arrowDropMenuCategory {
  height: 15px;
  width: 15px;
  cursor: pointer;
  position: absolute;
  top: 55px;
  right: 25px;
  z-index: 1000;
}

#arrowDropMenuAssigned {
  height: 30px;
  width: 35px;
  cursor: pointer;
  position: absolute;
  top: 4.5vh;
  right: 0.5vw;
  z-index: 1000;
}

#openUserImge {
  cursor: pointer;
}

#subtasksContent {
  height: auto;
  list-style-type: disc;
  padding-left: 20px;
  color: black;
  max-height: 100px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #a8a8a8 #f5f5f5;
}
#errorMessageSubtasks {
  color: #ff3d00;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 10px;
}

#subtasksContent::-webkit-scrollbar {
  width: 8px;
}

#subtasksContent::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 4px;
}

#subtasksContent::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 4px;
}

#subtasksContent::-webkit-scrollbar-thumb:hover {
  background: #888888;
}
#subtasks-plus-icon {
  cursor: pointer;
  height: 15px;
  width: 15px;
  position: absolute;
  top: 5px;
  right: 16px;
  z-index: 1000;
}

ul {
  list-style: none;
  padding: 8px 0 8px 8px;
  margin-bottom: 16px;
}

.prio-button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  padding: 12px 16px;
  border-radius: 10px;
  flex: 1;
  background-color: linear-gradient(180deg, #fff, #f5f5fa);
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%),
    0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all 0.2s ease-out;
}

.prio-button:hover {
  box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%),
    0 4px 6px 0 rgb(93 100 148 / 20%);
}
.prio-button-img {
  padding-left: 10px;
}
.prio-btn-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.btn-low-active {
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.2px;
}

.btn-medium-active {
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.2px;
}

.btn-urgent-active {
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.2px;
}
.red {
  background-color: #ff3d00;
}
.yellow {
  background-color: #ffa800;
}
.green {
  background-color: #7ae229;
}
#prio-medium {
  display: flex;
  align-items: center;
  gap: 4px;
}

.separator {
  height: 424px;
  width: 1px;
  background-color: #d1d1d1;
  margin-left: 28px;
  margin-right: 28px;
}

.addtask-form-container {
  display: flex;
  justify-content: center;
  height: auto;
  margin-bottom: 56px;
  width: 100%;
}

#addTaskCategory {
  position: relative;
}
#categoryInput {
  z-index: 1001;
}
#addTaskCategory img {
  z-index: 1002;
}
#dropDownCategoryMenu {
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  border-radius: 12px 8px 8px 12px;
  max-height: 200px;
  gap: 4px;
  top: 40px;
  padding-top: 46px;
}
#dropDownCategoryMenu::-webkit-scrollbar {
  display: none;
}
#addTaskAssignedTo {
  position: relative;
}
#dropDownUserMenu {
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  border-radius: 12px 8px 8px 12px;
  max-height: 200px;
  gap: 4px;
  top: 40px;
  padding-top: 46px;
}
#dropDownUserMenu::-webkit-scrollbar {
  display: none;
}

#userNameInput {
  z-index: 1000;
}

.initials {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: solid 2px white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-right: 15px;
  font-size: 14px;
}
.rendered-initials-cont {
  position: relative;
  z-index: 0;
}
.rendered-user-initials-img {
  position: absolute;
  right: 10px;
  bottom: -5px;
  height: 20px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.rendered-user-initials-img:hover {
  background-color: rgb(233, 232, 232);
}

.addtask-category {
  padding: 4px 0 4px 21px;
  cursor: pointer;
  border-radius: 10px;
}

.addtask-category:hover {
  background-color: rgb(236, 235, 235);
}

#contentAssignedUsers {
  display: flex;
  padding: 12px 6px;
  flex-wrap: wrap;
  row-gap: 10px;
}

.name-assigned {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.contact-assigned {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 12px;
  border-radius: 15px;
  height: 58px;
}

.contact-assigned:hover {
  background-color: rgb(236, 235, 235);
}

.contact-card-click-assigned {
  background-color: rgb(42, 54, 71) !important;
}

.contact-name-assigned {
  color: white !important;
}

.addtask-bottom-container {
  display: flex;
  justify-content: space-between;
}
.addtask-buttons {
  display: flex;
}
.required-field {
  margin-top: 20px;
}
.dot {
  height: 5px;
  width: 5px;
  background-color: #000000;
  border-radius: 3px;
  margin-right: 10px;
}

.subtask-icon {
  visibility: hidden;
  background: none;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  cursor: pointer;
  margin-left: auto;
}
.subtask-icon img {
  height: 20px;
}

#subtasksContent li:hover .subtask-icon {
  visibility: visible;
}

#subtaskInput {
  flex: 1;
}

#clearButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 0;
  margin-left: -5px;
}

#clearButton:hover {
  color: #ff0000;
}

.subtask-input-wrapper {
  position: relative;
}

.subtask-input-wrapper input {
  width: 100%;
  box-sizing: border-box;
  padding-right: 50px;
}

.input-icons {
  position: absolute;
  top: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.input-icons img {
  cursor: pointer;
  border-radius: 10px;
}

.input-icons img:hover {
  background-color: rgba(211, 211, 211, 0.479);
}

.input-icons-edit {
  display: flex;
  align-items: center;
  gap: 5px;
}

.validSpanTitle {
  color: rgb(255, 0, 0);
  margin-left: 10px;
  margin-top: 5px;
  font-size: 14px;
}

.validSpanDate {
  color: rgb(255, 0, 0);
  margin-top: 5px;
  margin-left: 10px;
  font-size: 14px;
}

.validSpanCategory {
  color: rgb(255, 0, 0);
  margin-top: 5px;
  margin-left: 10px;
  font-size: 14px;
}

#clear-add-icons {
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  gap: 5px;
}

.input-icons button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
}

.input-icons button:hover {
  color: #ff0000;
}

.input-icons {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: #d1d1d1;
}

#subtasksContent {
  margin-top: 5px;
  padding: 0;
  padding-left: 0;
}

#subtasksContent::-webkit-scrollbar {
  display: none;
}

.subtask-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 4px 10px 4px 15px;
  border-radius: 10px;
  background-color: #f8f8f8;
  cursor: pointer;
  list-style-position: inside;
  color: #000000;
}
.subtask-item:hover {
  background-color: #f0f0f0;
  border-radius: 8px;
}
.subtask-item-on-focus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 4px 10px 4px 15px;
  cursor: pointer;
  color: #000000;
  background-color: white;
  border-bottom: solid 1px var(--darkLightBlue);
}

#subtasksContent li::marker {
  font-size: 14px;
  color: #000000;
}

.subtask-text {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.subtask-icon {
  margin-left: auto;
}

.edit-subtask-input {
  flex: 1;
  padding-right: 50px;
  height: 100%;
  border: none;
  padding: 0 10px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: white;
  outline: none;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: #d1d1d1;
}

.subtask-input-wrapper.edit-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 22px;
  background-color: rgb(255, 255, 255);
}

.divider {
  width: 1px;
  height: 20px;
  background-color: #d1d1d1;
}

.btn-create {
  color: white;
}

#add-task-close {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: 130px;
  margin-left: 0vw;
  margin-right: 0vw;
  background-color: white;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1rem;
  padding: 0 10px;
}
#add-task-close:hover {
  color: #0b8ce9;
  border-color: #0b8ce9;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: color 0.3s;
}
#add-task-create {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: 130px !important;
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 10px;
  background-color: #2b3647;
  color: white;
  font-weight: 700;
  font-size: 1rem;
}

#add-task-create:hover {
  background-color: #0b8ce9;
  cursor: pointer;
}
.add-task-btn {
  font-size: 16px;
  font-weight: 500;
}
#task-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#task-succes {
  position: absolute;
  height: 7%;
  width: 13%;
  background-color: #2b3647;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.hide-add-task {
  transform: translateY(100vh);
  transition: all 250ms ease-in-out;
}
.show-add-task {
  transform: translateY(-40vh);
}
/* .dropdown-contact {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  gap: 16px;
} */

.assigned-user-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  gap: 16px;
}
.assigned-user-container:hover {
  background-color: #f0f0f0;
  border-radius: 8px;
}
.checkbox-add-task {
  width: 22px;
  height: 22px;
  background-color: white;
  border: 2px solid #2a3647;
  border-radius: 3px;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.2s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkbox-add-task:hover {
  border-color: #29abe2;
  box-shadow: 0 0 4px rgba(41, 171, 226, 0.4);
}

.checkbox-add-task:checked {
  background-color: #0c0f13;
  border-color: #2a3647;
}

.checkbox-add-task:checked::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

@media (min-width: 1200px) {
  #required-field-mobile {
    display: none;
  }
  #addTaskHeadlineMobile {
    display: none;
  }
}
@media (max-width: 1200px) {
  #addTaskHeadlineFullscreen {
    display: none;
  }
  #add-task-content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 81vh;
  }
  .hide-add-task {
    transform: translateX(100vw);
    transition: all 250ms ease-in-out;
  }
  .show-add-task {
    transform: translateX(-100vw);
  }
  #task-message-container {
    height: 100%;
    width: 100%;
  }
  .addtask-fullscreen-content {
    height: 80%;
  }

  .addtask-main-content {
    padding: 0;
    z-index: 0;
  }

  .addtask-form-container {
    flex-direction: column;
    margin-bottom: 16px;
    align-items: center;
  }
  .addtask-main-content h1 {
    width: 440px;
    margin: 0 auto;
  }
  .separator {
    display: none;
  }
  .addtask-bottom-container {
    justify-content: center;
    position: fixed;
    z-index: 100;
    bottom: 11vh;
    left: 45vw;
    right: 35vw;
  }
  .addtask-buttons {
    justify-content: flex-end;
  }

  #required-field {
    display: none;
  }
  .checkbox-add-task {
    width: 22px;
    height: 22px;
    background-color: white;
    border: 2px solid #2a3647;
    border-radius: 3px;
    position: relative;
    flex-shrink: 0;
    cursor: pointer;
    transition: all 0.2s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .checkbox-add-task:hover {
    border-color: #29abe2;
    box-shadow: 0 0 4px rgba(41, 171, 226, 0.4);
  }

  .checkbox-add-task:checked {
    background-color: #0c0f13;
    border-color: #2a3647;
  }

  .checkbox-add-task:checked::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  #required-field-mobile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-bottom: 40px;
  }
}

@media (max-width: 992px) {
  #task-succes {
    height: 15%;
    width: 67%;
  }

  .show-add-task {
    transform: translateY(-70vh);
  }

  /*  .addtask-form-container {
    flex-direction: column;
    padding: 0 20px;
    width: 100%;
    margin-bottom: 32px;
  } */

  .addtask-main-content {
    padding: 0;
    z-index: 0;
  }

  .addtask-form-left-top,
  .addtask-form-right-bottom {
    font-size: 16px;
  }
  .subtask-icon {
    visibility: visible;
  }
}

@media (max-width: 768px) {
  .addtask-main-content h1 {
    font-size: 48px;
  }
  .addtask-buttons {
    align-items: center;
  }
}

@media (max-width: 576px) {
  /*   .addtask-form-container {
    margin-bottom: 16px;
    align-items: center;
    padding: 0 8px;
  } */
  .addtask-main-content h1 {
    font-size: 46px;
  }
  #task-succes {
    height: 15%;
    width: 76%;
  }
}

@media (max-width: 490px) {
  .prio-button {
    font-size: 16px;
    flex: 0.5;
  }
  .prio-btn-content {
    gap: 10px;
  }

  .addtask-main-content {
    display: flow;
    padding: 10px;
  }

  .addtask-main-content h1 {
    font-size: 42px;
  }
  /* .addtask-form-container {
    margin-left: 10px;
    margin-right: 10px;
  } */
  .addtask-bottom-container {
    align-items: center;
  }

  .addtask-buttons {
    align-items: center;
    flex-direction: row;
    z-index: 1000;
  }

  #task-success {
    display: none;
  }
  .input-addtask {
    font-size: 16px;
    border-radius: 8px;
    z-index: 1000;
  }
  #dropDownCategoryMenu {
    font-size: 14px;
    border-radius: 8px;
  }
}
@media (max-width: 370px) {
  .prio-button {
    font-size: 12px;
    flex: 0;
    padding: 6px 10px;
  }
}
