#contact-content {
  position: relative;
  display: flex;
  padding-top: 10vh;
  padding-left: 10vw;
  width: 100%;
  height: 100vh;
}
#contact-side-panel {
  display: flex;
  width: 30%;
  flex-direction: column;
}
#add-new-contact-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
#add-contact-btn {
  background-color: #2a3647;
  border-radius: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding: 15px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}
#add-contact-btn:hover {
  background-color: #00bcd4;
  ;
}
#add-contact-img {
  height: 15px;
  width: 20px;
  padding-left: 10px;
}
#contact-big {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#contact-headline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
#contact-headline {
  padding-right: 25px;
  font-size: 38px;
  font-weight: 800;
  border-right: 2px solid blue;
}
#bwat-headline {
  font-size: 24px;
  padding-left: 25px;
  font-weight: 200;
}

#contacts {
  background: white;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contacts-header h2 {
  margin: 0;
  font-size: 1.5rem;
}

#contacts-header p {
  color: gray;
  margin: 5px 0 20px;
}
#contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
}
.full-name-short {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  text-align: end;
}
.contact-info {
  display: flex;
  justify-content: flex-start;
  text-align: start;
  flex-direction: column;
  width: 75%;
  padding-left: 25px;
}

[id^="contact-item-"] {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

[id^="avatar-"] {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  text-transform: uppercase;
}

[id^="contact-name-"] {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

[id^="contact-email-"] {
  margin: 0;
  color: #007bff;
  font-size: 0.9rem;
  text-decoration: none;
}

[id^="contact-email-"]:hover {
  text-decoration: underline;
}