body {
  overflow-y: hidden;
}

#contact-headline-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 180px;
  left: calc(10vw + 450px);
  cursor: default;
  gap: 32px;
}

.contact-detail {
  position: fixed;
  left: calc(10vw + 470px);
  top: 296px;
}

#contact-headline {
  padding-right: 25px;
  font-size: 61px;
  font-weight: 600;
  border-right: 3px solid #29abe2;
}

#bwat-headline {
  font-size: 27px;
  font-weight: 400;
}

#contact-content {
  position: relative;
  display: flex;
  padding-top: 100px;
  padding-left: 10vw;
  width: 100%;
  height: calc(100vh - 100px);
}

#contact-side-panel {
  position: sticky;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  width: 100%;
  min-width: 250px;
  max-width: 450px;
  overflow-y: scroll;
  scrollbar-width: 24px;
  overflow-x: hidden;
  margin-left: 10vw;
}

#add-new-contact-button-container {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  max-height: 101px;
  padding: 10px;
}

#contact-side-panel::-webkit-scrollbar {
  width: 8px;
}

#contact-side-panel::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 10px;
}

#add-contact-btn {
  position: relative;
  background-color: #2a3647;
  color: white;
  border-radius: 10px;
  border: 1px #2a3647;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 100px;
  gap: 16px;
  font-size: 21px;
  font-weight: 700;
  transition: background-color 0.3s;
  padding: 16px 0px 16px 0px;
  cursor: pointer;
}

#add-contact-btn:hover {
  background-color: #0b8ce9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#add-contact-img {
  height: 15px;
  width: 20px;
  padding-left: 10px;
}

#contact-big {
  width: 50dvw;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 30px;
  align-items: flex-start;
}

#contacts {
  background: white;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contacts-header h2 {
  margin: 0;
  font-size: 1.5rem;
}

#contacts-header p {
  color: gray;
  margin: 5px 0 20px;
}

#contact-list {
  max-width: 400px;
  height: 928px;
  display: flex;
  overflow-y: auto;
  scrollbar-width: thin;
}

ul {
  padding: 0;
}

#contact-list-names {
  list-style: none;
  padding: 0;
  margin: 0;
}

[id^="contact-item-"] {
  display: flex;
  align-items: center;
  width: 352px;
  height: 78px;
  gap: 35px;
  border-radius: 10px;
  cursor: pointer;
}

[id^="contact-item-"]:hover {
  background-color: #f4f4f4;
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

[id^="contact-item-"] > * {
  pointer-events: none;
}

#contact-item-right {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 220px;
  justify-content: center;
  align-items: flex-start;
}

[id^="avatar-"] {
  width: 42px;
  height: 42px;
  border-radius: 45px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 32px;
  text-transform: uppercase;
  gap: 10px;
}

[id^="contact-name-"] {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 220px;
}

[id^="contact-email-"] {
  font-family: "Inter";
  color: #007bff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

[id^="contact-email-"]:hover {
  text-decoration: underline;
}

.letter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 352px;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.letter-header {
  width: 352px;
  max-height: 58px;
  font-size: 20px;
  font-weight: 400;
  font-weight: bold;
  padding: 17px 36px 17px 36px;
  gap: 8px;
}

hr {
  width: 352px;
  gap: 10px;
  border: 1px solid #d1d1d1;
  width: 352px;
}

.contact-detail-header {
  display: flex;
  align-items: center;
  width: 461px;
  height: 120px;
  gap: 54px;
}

.contact-detail-header-right {
  display: grid;
  width: 287px;
  height: 88px;
  gap: 8px;
}

.contact-detail-header-right-headline {
  display: flex;
  width: 287px;
  height: 56px;
  gap: 8px;
  font-size: 47px;
  font-weight: 500;
  line-height: 56.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  overflow: visible;
  white-space: nowrap;
  cursor: default;
}

.contact-detail p {
  margin: 5px 0;
}

.contact-item.selected {
  background-color: #2a3647;
  color: white;
}

.contact-avatar {
  width: 120px;
  height: 120px;
  gap: 10px;
  border-radius: 70px;
  border: 3px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 47px;
  font-weight: 500;
}

.detail-actions {
  display: flex;
  width: 159px;
  height: 24px;
  gap: 16px;
}

.detail-actions button {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#edit-contact-img {
  width: 24px;
  height: 24px;
}

#delete-contact-img {
  width: 24px;
  height: 24px;
}

.detail-actions button:first-child {
  background-color: #f6f7f8;
  color: #2a3647;
  width: 62px;
  height: 24px;
  gap: 13px;
}

.detail-actions button:last-child {
  background-color: #f6f7f8;
  color: #2a3647;
  width: 81px;
  height: 24px;
  left: 78px;
  gap: 8px;
}

#contact-information {
  align-content: center;
  width: 207px;
  height: 74px;
  gap: 59px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

#contact-detail-email {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#contact-detail-bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#contact-detail-bottom a {
  color: #007cee;
}

#contact-detail-phone {
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: default;
}

#contact-detail-bottom-font {
  font-family: "Inter";
  color: #000000 !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 19.2px;
  text-align: left;
}

#bwat-headline::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0px;
  width: 90px;
  height: 3px;
}

#contact-content {
  padding-left: 0vw;
}

.back-button {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  width: 32px;
  height: 32px;
  top: 128px;
  right: 500px;
}

.menu-button {
  position: absolute;
  bottom: 11vh;
  right: 2vw;
  font-size: 24px;
  color: white;
  background: #2a3647;
  cursor: pointer;
  width: 56px;
  height: 56px;

  padding: 12px;
  border-radius: 56px;
  border: 1px solid #2a3647;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.dropdown-menu {
  position: absolute;
  bottom: 11vh;
  right: calc(5vw + 56px);
  width: 116px;
  height: 100px;
  padding: 10px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 20px 20px 0 20px;
  z-index: 1000;

  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.dropdown-menu.hidden {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.dropdown-menu:not(.hidden) {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.edit-button-mobile {
  display: flex;
  align-items: center;
  color: #2a3647;
  width: 96px;
  height: 40px;
  padding: 8px;
  gap: 8px;
  background: none;
  border: none;
  cursor: pointer;
}

.delete-button-mobile {
  display: flex;
  align-items: center;
  color: #2a3647;
  width: 96px;
  height: 40px;
  padding: 8px;
  gap: 8px;
  background: none;
  border: none;
  cursor: pointer;
}

#back-button {
  right: 6vw;
}

#contact-big {
  width: 100vw;
  padding: 0;
}

#contact-headline {
  align-self: flex-start;
}

#bwat-headline {
  padding-top: 4px;
}

#bwat-headline::after {
  margin-left: 8px;
}

.contact-detail-header {
  gap: 14px;
}

#contact-headline-container {
  padding-left: 4px;
}

.desktop-template {
  display: block;
}

.mobile-template {
  display: none;
}

#mobile-contact-detail {
  display: none;
}

.contact-headline-container-mobile {
  position: fixed;
  top: 120px;
  display: none;
}

.hr-mobile-contact {
  border: none;
  height: 3px;
  background-color: #29abe2;
  width: 120px;
  border-radius: 4px;
}

@media (max-width: 1256px) {
  .contact-headline-container-mobile {
    position: fixed;
    top: 120px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-left: 32px;
  }

  .contact-headline-mobile {
    font-family: "Inter";
    font-weight: 700;
    font-size: 53px;
    color: black;
  }

  .bwat-headline-mobile {
    font-family: "Inter";
    font-weight: 400;
    font-size: 40px;
    color: black;
  }

  .contact-detail {
    height: 100vh;
    position: fixed;
    top: 240px;
    left: 0;
    width: 100vw;
  }

  .desktop-contact-detail {
    display: none !important;
  }

  .desktop-template {
    display: none !important;
  }

  .mobile-template {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
  }

  .contact-headline-container-mobile {
    position: fixed;
    top: 120px;
    display: none;
  }

  .hr-mobile-contact {
    border: none;
    height: 3px;
    background-color: #29abe2;
    width: 120px;
    border-radius: 4px;
  }

  @media (max-width: 1256px) {
    .contact-headline-container-mobile {
      position: fixed;
      top: 120px;
      display: flex;
      flex-direction: column;
      gap: 2px;
      padding-left: 32px;
    }

    .contact-headline-mobile {
      font-family: "Inter";
      font-weight: 700;
      font-size: 53px;
      color: black;
    }

    .bwat-headline-mobile {
      font-family: "Inter";
      font-weight: 400;
      font-size: 40px;
      color: black;
    }

    .contact-detail {
      height: 100vh;
      position: fixed;
      top: 240px;
      left: 0;
      width: 100vw;
    }

    .desktop-contact-detail {
      display: none !important;
    }

    .desktop-template {
      display: none !important;
    }

    .mobile-template {
      display: flex;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: white;
    }

    .hidden {
      transform: translateX(100%);
      opacity: 0;
      pointer-events: none;
      transition: all 300ms ease-in-out;
    }

    #contact-big {
      align-items: center;
      padding-left: 50px;
      top: 100;
      width: 100%;
      height: calc(100vh - 10vh);
      overflow-y: auto;
    }

    .contact-avatar {
      width: 80px;
      height: 80px;
      font-size: 27px;
    }

    .contact-detail-header-right-headline {
      font-size: 36px;
    }

    .contact-detail-header {
      gap: 20px;
      padding-left: 32px;
    }

    #contact-information {
      padding-left: 32px;
    }

    #contact-detail-bottom {
      padding-left: 32px;
    }

    .contact-detail-header-right {
      align-items: center;
    }

    #contact-headline {
      font-size: 47px;
      font-weight: 700;
      border: none;
      padding-right: 25px;
      font-size: 61px;
      font-weight: 700;
      width: 92vw;
    }

    #bwat-headline {
      font-size: 27px;
      font-weight: 400;
      width: 100vw;
      padding-left: 0;
      padding-bottom: 3px;
    }

    #contact-side-panel {
      margin-bottom: 10vh;
      min-width: 100%;
    }

    #mobile-contact-detail.show-mobile-detail {
      display: block;
    }

    #contact-side-panel {
      margin-left: 0;
    }
  }

  @media (max-width: 768px) {
    .bwat-headline-mobile {
      font-size: 32px;
    }

    #contact-side-panel {
      width: 100%;
      padding-top: 20px;
    }

    #add-contact-btn {
      width: 80%;
    }

    .contact-detail-header {
      gap: 20px;
      padding-left: 8px;
    }

    #contact-information {
      padding-left: 8px;
    }

    #contact-detail-bottom {
      padding-left: 8px;
    }

    .contact-headline-container-mobile {
      padding-left: 8px;
    }
  }

  @media (max-width: 650px) {
    #contact-big {
      align-items: center;
      padding-left: 50px;
      display: none;
      top: 100;
      width: 100%;
      height: calc(100vh - 10vh);
      overflow-y: auto;
    }

    #add-contact-headline {
      font-size: 34px;
    }

    #contact-side-panel {
      width: 100%;
      padding-top: 0;
      width: 100%;
      overflow-y: auto;
      overflow-y: scroll;
    }

    #add-contact-btn {
      position: fixed;
      bottom: 11vh;
      right: 2vw;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      font-size: 0px;
      padding: 0;
      gap: 0;
      cursor: pointer;
    }

    #add-contact-img {
      width: 31px;
      object-fit: cover;
      height: 23px;
      padding-right: 5px;
    }

    #contacts {
      max-width: 100%;
      margin: 0;
    }

    #contact-list {
      height: auto;
      overflow-y: visible;
    }

    #contact-item- {
      width: 100%;
      height: 80px;
    }
  }

  @media (max-width: 500px) {
    #contact-big {
      align-items: center;
      display: none;
      top: 100;
      width: 100%;
      height: calc(100vh - 10vh);
      overflow-y: auto;
    }

    #contact-headline {
      font-size: 40px;
    }

    #add-contact-btn {
      width: 50px;
      height: 50px;
    }

    #add-contact-create {
      margin-left: -2vw;
    }

    #add-contact-btn text {
      display: none;
    }

    #add-contact-img {
      width: 27px;
      height: 19px;
    }

    #add-new-contact-button-container {
      height: 0px;
      width: 0px;
      padding: 0px;
    }
  }

  @media (max-width: 480px) {
    .menu-button {
      margin-left: -60px;
    }
  }

  #back-button {
    right: 6vw;
  }

  #contact-big {
    width: 100vw;
    padding: 0;
  }

  #contact-headline {
    padding: 10px;
    align-self: flex-start;
  }

  #bwat-headline::after {
    margin-left: 8px;
  }

  .contact-detail-header {
    gap: 14px;
  }

  #contact-headline-container {
    padding-left: 4px;
  }

  @media (max-width: 420px) {
    .contact-detail-header-right-headline {
      font-size: 24px;
    }
  }

  @media (max-width: 420px) {
    .menu-button {
      margin-left: -500px;
    }

    #contact-headline-container {
      left: 16px;
      top: 150px;
    }

    .contact-avatar {
      width: 80px;
      height: 80px;
    }

    .back-button {
      margin-left: -50px;
    }
    #contact-detail-email {
      gap: 15px;
    }

    #contact-detail-phone {
      gap: 15px;
    }

    .contact-detail-header-right-headline {
      width: 226px;
    }

    .letter-header {
      width: 265px;
    }

    .menu-button {
      z-index: 100000000;
      position: fixed;
      bottom: 100px;
    }

    .dropdown-menu {
      position: fixed;
      bottom: 13vh;
      right: calc(5vw + 46px);
    }

    #add-contact-content {
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: start;
      width: 100vw;
      height: 100vh;
      z-index: 9991;
      margin-top: 16px;
    }
  }
}
