#edit-contact-content {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 9991;
}
#edit-contact-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: black;
  filter: opacity(50%);
  z-index: 9990;
  transition: all 1000ms ease-in-out;
}
.hide-edit-contact {
  transform: translateX(100vw);
  transition: all 250ms ease-in-out;
}
.show-edit-contact {
  transform: translateX(0vw);
}

#edit-contact-side-panel {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #2a3647;
  width: 50%;
  position: relative;
  border-radius: 20px 0 0 20px;
}
#edit-contact-logo {
  margin-left: 20%;
  margin-right: 10%;
  margin-bottom: 20px;
}
#edit-contact-headline {
  color: white;
  font-size: 32px;
  font-weight: 600;
  margin-left: 20%;
  margin-bottom: 20px;
}
#edit-contact-second {
  color: white;
  font-size: 32px;
  font-weight: 200;

  text-align: center;
}
#vector-line {
  margin-left: 10%;
  width: 5vw;
}
#edit-contact-interactions-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0 20px 20px 0;
  background-color: white;
}
#edit-contact-btn-close-container {
  display: flex;
  justify-content: flex-end;
}
#edit-contact-btn-close {
  width: 40px;
  height: 40px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
#edit-contact-btn-close:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s;
}
#edit-contact-btn-close svg {
  width: 20px;
  height: 20px;
}
#add-contact-btn-close-mobile {
  width: 40px;
  height: 40px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  filter: invert();
  transition: background-color 0.3s;
}
#edit-contact-btn-close-mobile:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s;
}
#edit-contact-interactions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#edit-contact-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
#edit-contact-icon-container-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: -40px;
}

#edit-contact-icon-mobile {
  height: 75px;
  position: absolute;
  bottom: -37.5px;
  z-index: 9995;
}
#edit-contact-icon {
  box-shadow: 0px 0px 4px 0px #0000001a;
  gap: 10px;
  border-radius: 70px;
  border: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 47px;
  line-height: 56.4px;
  color: #ffffff;
  width: 100px;
  height: 100px;
}
#input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  height:60%;
}
.edit-contact-input {
  width: 100%;
  padding: 15px;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 15px;
  color: black;
}

#edit-contact-first-name {
  border-color: #d1d1d1;
  color: black;
}
#edit-contact-last-name {
  border-color: #d1d1d1;
  color: black;
}
#edit-contact-email {
  border-color: #d1d1d1;
  color: black;
}
.edit-contact-input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  height: 20px;
  width: 20px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #a8a8a8;
  pointer-events: none;
}
.input-wrapper {
  position: relative;
  width: 75%;
}
#edit-contact-btn-wrapper {
  display: flex;
  justify-content: space-around;
}
#edit-contact-btn-container {
  display: flex;
  justify-content: flex-start;
  height: 10vh;
  width: 70%;
  padding-left: 8%;
}
#edit-contact-delete {
  font-weight: 700;
  height: 4vh;
  max-height: 56px;
  margin-left: 1vw;
  margin-right: 1vw;
  background-color: white;
  border: 1px solid #2a3647;
  width: 113px;
  padding: 15px 24px 15px 24px;
  border-radius: 8px;
}
#edit-contact-delete:hover {
  border: 2px solid #0b8ce9;
  color: #0b8ce9;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: color 0.3s;
}
#edit-contact-create {
  font-weight: 700;
  white-space: nowrap;
  height: 4vh;
  max-height: 56px;
  background-color: #2a3647;
  color: white;
  padding: 15px 24px 15px 24px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  gap: 4px;
}
#edit-contact-create:hover {
  background-color: #0b8ce9;
  cursor: pointer;
}
#edit-contact-btn-placeholder {
  width: 30%;
  height: 10vh;
}

#edit-contact-message {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9995;
}
#edit-contact-error-message-container {
  height: 20%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background-color: #860002;
}
#edit-contact-error-message {
  color: white;
  font-size: 16px;
}

#edit-contact-succes-message-container {
  position: fixed;
  height: 20%;
  width: 30%;
  bottom: -250px;
  left: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background-color: #2a3647;
}

#success-message-container.show {
  transform: translateX(50%) translateY(0);
  opacity: 1;
}

#edit-contact-succes-message {
  color: white;
  font-size: 16px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none;
}

.edit-contact-input:invalid + .error-message {
  display: block;
}

#edit-contact-btn-close-mobile {
  width: 40px;
  height: 40px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  filter: invert();
  transition: background-color 0.3s;
}

#edit-contact-btn-close-mobile:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s;
}

#edit-contact-btn-close-mobile svg {
  width: 20px;
  height: 20px;
}

#edit-contact-icon-mobile {
  height: 75px;
  position: absolute;
  bottom: -37.5px;
  z-index: 9995;
}
@media (min-width: 1500px) {
  #add-contact-btn-placeholder {
    width: 30%;
    height: 5vh;
  }
  #add-contact-btn-container {
    height: 0;
  }

  #add-contact-interactions {
    height: 60% !important;
  }
  #edit-contact-btn-placeholder {
    width: 30%;
    height: 5vh;
  }
  #edit-contact-btn-container {
    height: 0;
  }
  #edit-contact-interactions {
    height: 60% !important;
  }
}
@media (min-width: 1050px) {
  #edit-contact-btn-close-mobile {
    display: none !important;
  }
  #edit-contact-icon-container-mobile {
    display: none !important;
  }
  #edit-contact-icon-container {
    display: flex;
  }
}
@media (max-width: 1050px) {
  #edit-contact-btn-close {
    display: none !important;
  }
  #edit-contact-icon-container-mobile {
    display: flex;
  }
  #edit-contact-icon-container {
    display: none;
  }
  #edit-contact-logo {
    display: none;
  }
  #edit-contact-headline {
    margin-top: 10%;
    margin-bottom: 0;
  }
  #edit-contact-btn-close-mobile {
    display: block;
  }

  #edit-contact-icon-mobile {
    display: none;
  }
  #contact-panel {
    flex-direction: column;
  }
  #edit-contact-side-panel {
    width: 100%;
    border-radius: 20px 20px 0 0;
  }
  #edit-contact-interactions-container {
    border-radius: 0 0 20px 20px;
  }
}
@media (max-width: 568px) {
  #edit-contact-btn-wrapper {
    margin-right: 66px;
  }
  #input-fields {
    width: 90% !important;
  }
  #edit-contact-headline {
    font-size: 30px;
  }

  #edit-contact-interactions {
    flex-direction: column;
  }
  #edit-contact-create {
    padding: 0 24px 0 24px;
  }
  #edit-contact-delete {
    padding: 0;
  }
}

@media (max-width: 428px) {
  #edit-contact-icon {
    font-size: 30px;
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 385px) {
  #back-button {
    margin-left: -30px;
  }
}

@media (max-width: 385px) {
  #back-button {
    margin-left: -50px;
  }

  #edit-contact-btn-close-container {
    position: absolute;
    top: 1%;
    right: 2%;
  }

  #contact-panel {
    align-items: center;
  }
}
