* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
}

#header-overlay-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 90vw;
  margin-left: 10vw;
  height: 100px;
  background-color: #ffffff;
  filter: drop-shadow(1px 2px 3px rgba(174, 173, 173, 0.5));
  z-index: 9;
}
#header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
}

#header-headline-top {
  position: relative;
  text-align: left;
  font-size: 24px;
  font-weight: 300;
  padding-left: 2vw;
  z-index: 1;
  margin-left: 0;
  color: black;
}

#header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 35px;
  max-width: 1920px;
}

.header-user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-user-icon-svg {
  width: 50px;
  height: 50px;
}

.header-user-icon:hover .header-user-icon-svg {
  background-color: #e1e5ec;
  border-radius: 50%;
}

#header-logo-container {
  position: absolute;
  top: 80%;
  left: 30px;
  transform: translateY(-50%);
  width: 8rem;
  height: 8rem;
}

#header-logo-container img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

#header-current-user {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  color: rgba(18, 18, 232, 0.997);
  z-index: 999;
}

#header-current-user:hover {
  cursor: pointer;
}

#header-user-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-top: 100px;
  z-index: 999;
  right: 6vw max(1920px);
  top: 0px;
  background-color: #2b3647;
  padding: 10px 15px;
  border-radius: 20px 0 20px 20px;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
}


.header-links {
  color: #a8a8a8;
  padding: 15px 10px;
}

.header-links:hover {
  background-color: #091931;
  cursor: pointer;
}
.header-guest-user {
  color: #364D6D;
}



@media (min-width: 1250px) {
  #header-logo-container {
    display: none;
  }
}


@media (max-width: 1250px) {
  #header-overlay-top {
    width: 100vw;
    margin-left: auto;
  }

 
  
}
@media (min-width: 770px) { 
  #header-logo-container img {
    display: none;
  }
  #header-helpLink {
    display: none;
  }

}
@media (max-width: 770px) {
  #header-content {
    display: block;
  }
  #header-help-btn {
    display: none;
  }
  #header-helpLink {
    display: block;
  }

  #header-headline-container {
    display: none;
  }
  #header-headline-top {
    display: none;
  }

  #header-logo-container {
    margin-left: 10px;
    width: 40px;
    order: -1;
    margin-left: 0;
    }


  #header-current-user {
    margin-left: auto;
  }

  #header-logo-container img {
    margin-left: 20px;
  }
  #header-user-overlay {
    right: 1vw;
    top: 0px;
}

}

@media (max-width: 500px) {
    #header-user-overlay {
    right: 4vw;
    top: -17px;
  }
}
