body {
  font-family: "Inter", sans-serif;

  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;

  overflow-y: auto;
}

.containerLegalNotice {
  max-width: 800px;
  margin: 90px auto;
  padding: 20px;

  border-radius: 8px;
}

.header-with-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.arrow-icon {
  position: absolute;
  left: 100%;
  margin-left: 0px;
  width: 28px;
  height: auto;
  cursor: pointer;
}

h1 {
  margin-top: 30px;
  font-size: 32px;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  color: #444;
  margin-top: 20px;
}

p {
  font-size: 16px;
  margin: 10px 0;
}

ul {
  margin: 10px 0 20px 20px;
  padding: 0;
  list-style: disc;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
