.loginContent {
  background-color: rgb(246, 247, 248);
  height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headAreaOfLogin {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.signUpArea {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.signUpButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49px;
  width: 91px;
  border-radius: 8px;
  background-color: rgba(42, 54, 71, 1);
}

.signUpButton:hover {
  background-color: rgb(41, 171, 226);
}

.headAreaOfLogin img {
  height: 121px;
  width: 100px;
}

.interFontLogin {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  color: black;
}

.interFontLoginButton {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  color: white;
}

.button-signup {
  width: 120px;
  border: unset;
  border-radius: 8px;
  height: 48px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: rgb(42, 54, 71);
}

.button-signup:hover {
  background-color: rgb(41, 171, 226);
  border: unset;
  cursor: pointer;
}

button:disabled:hover {
  cursor: not-allowed;
  background-color: gray;
}

button:disabled {
  cursor: not-allowed;
  background-color: gray;
}

.loginForm {
  height: 50vh;
  width: 40vw;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
}

d-none {
  display: none;
}

.loginNameInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: white;
  height: 53px;
  border-radius: 10px;
  border: 1px solid rgb(168, 168, 168);
  margin-top: 1vh;
  width: 350px;
  justify-content: space-between;
}

.loginNameInput img {
  cursor: pointer;
  height: 24px;
  width: 24px;
  padding-right: 8px;
}

input:-webkit-autofill {
  background-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.inputMailPw {
  border: none;
  border-radius: 10px;
  padding-left: 8px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  color: gray;
}

.inputMailPw:focus {
  border: none;
  outline: none;
}

.loginButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.logInButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7vw;
  max-width: 100px;
  height: 4vh;
  border-radius: 8px;
  background-color: rgba(42, 54, 71, 1);
}

.logInButton:hover {
  background-color: rgb(41, 171, 226);
  border: unset;
}

.loginButtons button:hover {
  transform: scale(1.03);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.guestLogInUpButton {
  width: 9vw;
  height: 4vh;
  max-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: white;
  border: 2px solid rgba(42, 54, 71, 1);
}

.guestLogInUpButton:hover {
  border-color: rgb(41, 171, 226);
}

.guestLogInButtonFont {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  color: rgba(42, 54, 71, 1);
}

.guestLogInButtonFont:hover {
  color: rgb(41, 171, 226);
}

button:hover {
  cursor: pointer;
}

.FontOfOfLogin {
  font-family: "Inter";
  font-weight: 700;
  font-size: 61px;
  color: black;
  margin-bottom: 1vh;
}

.horizontalLine {
  margin: 0;
  width: 120px;
  height: 3px;
  background-color: rgb(41, 171, 226);
  border: none;
  border-radius: 8px;
  margin-bottom: 2vh;
}

.footerRegisterLogin {
  font-family: "Inter";
  display: flex;
  justify-content: center;
  gap: 16px;
  height: 5vh;
}

@media (max-width: 909px) {
  .loginContent {
    height: 100%;
    padding-bottom: 20px;
  }

  .loginForm {
    margin-top: 100px;
    width: 85vw;
    height: auto;
    padding: 20px;
  }

  .inputMailPw {
    width: 100%;
  }

  .loginButtons {
    flex-direction: column;
    gap: 10px;
  }

  .logInButton,
  .guestLogInUpButton {
    width: 100%;
    max-width: 300px;
  }

  .headAreaOfLogin {
    align-items: center;
    width: 100%;
  }

  .headAreaOfLogin img {
    height: 80px;
    width: 80px;
  }

  .FontOfOfLogin {
    font-size: 36px;
  }

  .horizontalLine {
    width: 80px;
  }

  .footerRegisterLogin {
    margin-top: 20px;
    font-size: 14px;
  }

  .signUpArea {
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    flex-direction: row;
    gap: 10px;
    margin-left: 120px;
  }

  .signUpArea {
    margin-top: 20px;
    justify-content: center;
    width: 100%;
  }

  .signUpButton {
    width: 100%;
    text-align: center;
  }

  .loginForm {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .loginForm {
    width: 85vw;
  }

  .inputMailPw {
    font-size: 18px;
  }

  .FontOfOfLogin {
    font-size: 44px;
  }

  .headAreaOfLogin img {
    height: 70px;
    width: 70px;
  }

  .loginButtons {
    flex-direction: column;
  }

  .logInButton,
  .guestLogInUpButton {
    width: 100%;
    max-width: 280px;
  }

  .signUpButton {
    width: 100%;
  }

  .horizontalLine {
    width: 70px;
  }

  .footerRegisterLogin {
    font-size: 12px;
  }

  .signUpArea {
    justify-content: center;
    margin-right: 0px;
  }

  .loginForm {
    margin-bottom: 30px;
  }

  .footerRegisterLogin {
    margin-top: 0px;
    margin-left: 40px;
  }
}

@media (max-width: 390px) {
  .interFontLogin {
    font-size: 12px;
  }
}

.failedLoginDiv {
  height: 16px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.failedLoginFont {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  color: red;
  margin: 0;
  margin-bottom: 16px;
}

.footerRegisterLogin {
  font-size: 14px;
}

.footerRegisterLogin a {
  font-size: 14px;
}

.footerFont {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: #a8a8a8;
  margin: 0;
  width: 120px;
}

.footerFont:hover {
  font-weight: bold;
  color: rgb(41, 171, 226);
}

.rememberMe {
  height: 40px;
  width: 350px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 2px;
}

.checkboxLogin {
  height: 12px;
  width: 12px;
  border: 1px solid rgba(42, 54, 71, 1);
  background-color: transparent;
  appearance: none;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
}

.checkboxLogin:checked {
  background-color: white;
  border-color: rgba(42, 54, 71, 1);
}

.checkboxLogin:checked::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 3px;
  width: 5px;
  height: 12px;
  border: solid rgba(42, 54, 71, 1);
  border-width: 0 2px 2px 0;
  transform: rotate(37deg);
}

.checkboxLogin:hover {
  background-color: rgba(42, 54, 71, 0.1);
}

.rememberMeFont {
  font-family: "Inter";
  font-weight: 400;
  font-size: 11px;
  color: rgb(42, 54, 71);
}

.button-remember-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
