html,
body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.container {
  max-width: 800px;
  margin: 90px auto;
  padding: 20px;

  border-radius: 8px;
}

h1 {
  margin-top: 30px;
  font-size: 32px;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

.header-with-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.arrow-icon {
  position: absolute;
  left: 100%;
  margin-left: 0px;
  width: 28px;
  height: auto;
  cursor: pointer;
}

h2 {
  font-size: 24px;
  color: #444;
  margin-top: 20px;
}

p {
  font-size: 16px;
  margin: 10px 0;
}

ul {
  margin: 10px 0 20px 20px;
  padding: 0;
  list-style: disc;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 1250px) {
  #overlay-left {
    display: none;
  }

  .container {
    margin: 20px;
    width: calc(100% - 40px);
  }
}

@media (max-width: 600px) {
  .container {
    padding: 15px;
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  p,
  ul,
  li {
    font-size: 14px;
  }
}
