.taskDetailView{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(0deg 0% 0% / 44%);
}

.currentTaskCard {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: white;
    height: 800px;
    width: 500px;
    border-radius: 24px;
    padding: 32px;
}

.task-category-userExperience-taskCard{
    height: 54px;
    width: 220px;
    background-color: rgb(0, 56, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 24px;
}

.task-category-technicalTask-taskCard {
    height: 54px;
    width: 220px;
    background-color: rgb(31, 215, 193);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 24px;
}

.description-taskCard{
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    color: black;
}

.headAreaTaskcard {
    display: flex;
    justify-content: space-between;
    align-items: start;
}


.dueDateAndPrio {
    width: 100%;
    border-spacing: 0px 24px;
}

.dueDateAndPrio td {
    vertical-align: middle;
}

.prioIconCard {
    height: 24px; 
    vertical-align: middle;
}

.firstTableColumnFont{
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    color:rgba(42, 54, 71, 1)
}

.cardAssignedContacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: -40px;
}

.ownerItem {
    display: flex;
    align-items: center;
    gap: 12px; 
}

.fontInNameCircle {
    font-size: 12px;
    fill: white;
}

.noOwners {
    color: gray;
    font-style: italic;
}

.subtaskItem{
    display: flex;
    flex-direction: row;
    gap: 8px;
}



.editAndDelete{
    position: absolute;
    bottom: 32px;
    right: 32px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.subtaskText{
    color: black;
    font-size: 14px;
    font-family: "Inter";
    font-weight: 400;
}


.editCard{
    display: flex;
    gap: 4px;
}

.deleteIcon{
    height: 20px;
}

.editIcon{
    height: 16px;
    padding-left: 3px;
}

.verticalSeparator{
    color: rgb(209,209,209);
}

.editDeleteFont{
    color: rgba(42, 54, 71, 1);
    font-size: 16px;
    font-family: "Inter";
    font-weight: 400;
}

.deleteCard {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.editDeleteFont:hover{
    color: rgb(41, 171, 226);
    font-weight: 800;
}

.cardSubtasks{
display: flex;
flex-direction: column;
gap: 12px;
}

.deleteCard:hover img {
    filter: brightness(0) saturate(100%) invert(38%) sepia(74%) saturate(721%) hue-rotate(172deg) brightness(93%) contrast(87%);
    transform: scale(1.2); 
}

.closeCardParent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.closeCard{
    height: 30px;
    width: 30px;
}

.closeCardParent:hover{
    background-color: rgb(222, 222, 222);
    cursor: pointer;
}

.boardFontDetail{
    font-family: "Inter";
    font-weight: 700;
    font-size: 48px;
    color: black;
}


input.styledCheckbox {
    display: none;
}


.styledCheckboxLabel {
    display: flex;
    align-items: center;
    cursor: pointer; 
    gap: 6px;
}


.styledCheckboxLabel .checkboxSquare {
    width: 16px;
    height: 16px;
    background-color: white;
    border: 2px solid rgb(42, 54, 71);
    border-radius: 6px;
    position: relative;
    flex-shrink: 0;
}

/* Haken für Checkbox */
.styledCheckboxLabel .checkboxSquare::after {
    content: "";
    position: absolute;
    top: -8px;
    left: 0px;
    width: 5px;
    height: 16px;
    border: solid rgb(42, 54, 71);
    border-width: 0 2px 2px 0;
    transform: rotate(50deg) scale(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}


input.styledCheckbox:checked + .styledCheckboxLabel .checkboxSquare::after {
    opacity: 1; 
    transform: rotate(40deg) scale(1.2);
    transform-origin: bottom left; 
}


.styledCheckboxLabel .subtaskText {
    margin: 0;
    font-size: 14px;
    color: rgb(42, 54, 71);
    line-height: 1.2;
}

