.taskDetailView{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(0deg 0% 0% / 44%);
    z-index: 1000;
}

.currentTaskCard {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: white;
    border-radius: 24px;
    padding: 32px;
    height: 800px;
    width: 500px;
    margin-left: 16px;
    margin-right: 16px;
    overflow-x: hidden;
}

.task-category-userExperience-taskCard{
    height: 54px;
    width: 220px;
    background-color: rgb(0, 56, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 24px;
}

.task-category-technicalTask-taskCard {
    height: 54px;
    width: 220px;
    background-color: rgb(31, 215, 193);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 24px;
}

.description-taskCard{
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    color: black;
}

.headAreaTaskcard {
    display: flex;
    justify-content: space-between;
    align-items: start;
}


.dueDateAndPrio {
    width: 100%;
    border-spacing: 0px 24px;
}

.dueDateAndPrio td {
    vertical-align: middle;
}

.prioIconCard {
    height: 24px; 
    vertical-align: middle;
}

.firstTableColumnFont{
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    color:rgba(42, 54, 71, 1)
}

.cardAssignedContacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: -40px;
}

.ownerItem {
    display: flex;
    align-items: center;
    gap: 12px; 
}

.fontInNameCircle {
    font-size: 12px;
    fill: white;
}

.noOwners {
    color: gray;
    font-style: italic;
}

.subtaskItem{
    display: flex;
    flex-direction: row;
    gap: 8px;
}



.editAndDelete{
    position: absolute;
    bottom: 32px;
    right: 32px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.subtaskText{
    color: black;
    font-size: 14px;
    font-family: "Inter";
    font-weight: 400;
}


.editCard{
    display: flex;
    gap: 4px;
}

.deleteIcon{
    height: 20px;
}

.editIcon{
    height: 16px;
    padding-left: 3px;
}

.verticalSeparator{
    color: rgb(209,209,209);
}

.editDeleteFont{
    color: rgba(42, 54, 71, 1);
    font-size: 16px;
    font-family: "Inter";
    font-weight: 400;
}

.deleteCard {
    padding: 4px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.deleteCard:hover{
    background-color: rgba(91, 190, 233, 0.701);
}

.cardSubtasks{
display: flex;
flex-direction: column;
gap: 12px;
}


.closeCardParent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.closeCard{
    height: 30px;
    width: 30px;
}

.closeCardParent:hover{
    background-color: rgb(222, 222, 222);
    cursor: pointer;
}

.boardFontDetail{
    font-family: "Inter";
    font-weight: 700;
    font-size: 48px;
    color: black;
}


input.styledCheckbox {
    display: none;
}


.styledCheckboxLabel {
    display: flex;
    align-items: center;
    cursor: pointer; 
    gap: 6px;
}


.styledCheckboxLabel .checkboxSquare {
    width: 16px;
    height: 16px;
    background-color: white;
    border: 2px solid rgb(42, 54, 71);
    border-radius: 6px;
    position: relative;
    flex-shrink: 0;
}


.styledCheckboxLabel .checkboxSquare::after {
    content: "";
    position: absolute;
    top: -8px;
    left: 0px;
    width: 5px;
    height: 16px;
    border: solid rgb(42, 54, 71);
    border-width: 0 2px 2px 0;
    transform: rotate(50deg) scale(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}


input.styledCheckbox:checked + .styledCheckboxLabel .checkboxSquare::after {
    opacity: 1; 
    transform: rotate(40deg) scale(1.2);
    transform-origin: bottom left; 
}


.styledCheckboxLabel .subtaskText {
    margin: 0;
    font-size: 14px;
    color: rgb(42, 54, 71);
    line-height: 1.2;
}

.deleteConfirmation {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    gap: 8px;
    left: 50%;
    transform: translate(-50%, 0); 
    top: 20%;
    width: 300px;
    height: 100px;
    background-color: rgb(42, 54, 71);
    border-radius: 24px;
}

.confirmation-delete-buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
}

.deleteTaskButtons{
    width: 150px;
    height: 32px;
    max-width: 120px;
    border-radius: 8px;
    background-color: white;
    border: 2px solid rgba(42, 54, 71, 1);
    font-family: "Inter";
    font-weight: 700;
    font-size: 16px;
    color: rgba(42, 54, 71, 1);
}

.deleteTaskButtons:hover{
    cursor: pointer;
    color: rgb(41,171,226);
}

.deleteHeaderFont{
    font-family: "Inter";
    font-size: 21px;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.no-scroll {
    overflow: hidden;
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px; 
}


::-webkit-scrollbar-thumb {
    background-color: rgb(43, 54, 71);
    border-radius: 10px;
}


::-webkit-scrollbar-track {
    background: transparent;
}


::-webkit-scrollbar-button {
    border-radius: 0;
}


::-webkit-scrollbar-thumb:hover {
    background-color: rgb(60, 74, 91);
}


::-webkit-scrollbar-button:hover {
    background-color: rgb(60, 74, 91); /
}

body.no-scroll {
    overflow: hidden;
}

#wholeBoard.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}


@media (max-width: 480px) {
    .currentTaskCard {
        position: fixed;
        top: 50%;
        left: 46%;
        transform: translate(-50%, -50%);
        overflow-x: hidden;
        overflow-y: auto;
        gap: 1vh;
        height: 580px;
        width: 80vw;
        padding: 8px;
    }

    .taskDetailView{
        z-index: 999;
    }

    .task-category-technicalTask-taskCard {
        height: 37px;
        width: 161px;
        font-size: 19px;}

    .task-category-userExperience-taskCard{
        height: 54px;
        width: 220px;
        font-size: 19px;
    }

    .closeCard {
        height: 16px;
        width: 16px;
        font-size: 19px;
    }

    .closeCardParent {
        height: 32px;
        width: 32px;
    }


    .boardFontDetail {
        font-size: 28px;
    }

    .description-taskCard {
        font-size: 16px;
    }

    .firstTableColumnFont {
        font-size: 16px;
    }

    .subtaskText {
        font-size: 11px;
    }

    .styledCheckboxLabel{
        font-size: 11px;
        margin: 0;
    }

    .assignedOwnersContainer{
        margin-top: 8px;
        max-height: 100px;
        overflow-y: scroll;
    }

    .editAndDelete{
        bottom: 16px;
    }

}
