.taskDetailView{
    display: flex;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(0deg 0% 0% / 44%);
}

.currentTaskCard{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 900px;
    width: 700px;
    border-radius: 24px;
}

.task-category-userExperience-taskCard{
    height: 54px;
    width: 220px;
    background-color: rgb(0, 56, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.task-category-technicalTask-taskCard {
    height: 54px;
    width: 220px;
    background-color: rgb(31, 215, 193);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.description-taskCard{
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    color: black;
}

.headAreaTaskcard{
    display: flex;
    justify-content: space-between;
}



.dueDateAndPrio {
    width: 100%;
    border-spacing: 0px 24px;
}

.dueDateAndPrio td {
    vertical-align: middle;
}

.prioIconCard {
    height: 24px; 
    vertical-align: middle;
}

.firstTableColumnFont{
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    color:rgba(42, 54, 71, 1)
}

.cardAssignedContacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ownerItem {
    display: flex;
    align-items: center;
    gap: 12px; 
}

.fontInNameCircle {
    font-size: 12px;
    fill: white;
}

.noOwners {
    color: gray;
    font-style: italic;
}

.subtaskItem{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
